extends ../layouts/main

append stylesheets

append javascripts

block content
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand #{__('login')}
                        nav
                            ul.nav.masthead-nav
                                li.active
                                    a(href='/') #{__('landing-page')}

                .inner.cover
                    include ../includes/messages

                    form.form.col-md-12.center-block(method='post')
                        .form-group
                            input.form-control.input-lg(type='text' placeholder='#{__("user.user_name")}' name='username')
                        .form-group
                            input.form-control.input-lg(type='password' placeholder='#{__("user.password")}' name='password')
                        .form-group
                            button.btn.btn-success.btn-lg.btn-block #{__('sign-in')}
                            span.pull-right
                                a(href='/register') #{__('register')}

                .mastfoot
                    .inner
                        include ../includes/footer