extends layouts/main

append stylesheets

append javascripts

block content
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand #{__('landing-page')} #{user ? '| ' + user.name : ''}
                        if AUTH_CONFIG.ENABLED
                            nav
                                ul.nav.masthead-nav
                                    li.active
                                        if user
                                            a(href='/auth/logout') #{__('logout')}
                                        else
                                            a(href='/auth/login') #{__('login')}

                .inner.cover
                    include includes/messages
                    
                    h1.cover-heading #{__('main.cover-title')}
                    p.lead #{__(message)}
                    p.lead
                        img.img-responsive(src='https://nodejs.org/static/images/logo.svg')

                .mastfoot
                    .inner
                        include includes/footer